const {
    Clipboard,
    Front,
    Hints,
    Normal,
    RUNTIME,
    Visual,
    aceVimMap,
    addSearchAlias,
    cmap,
    getClickableElements,
    imap,
    imapkey,
    iunmap,
    map,
    mapkey,
    readText,
    removeSearchAlias,
    tabOpenLink,
    unmap,
    unmapAllExcept,
    vmapkey,
    vunmap
} = api;
settings.smoothScroll = false;
settings.hintAlign = "left";
//settings.omnibarPosition = 'top';
settings.tabsThreshold = 0;
settings.modeAfterYank = 'Normal';
Hints.setCharacters('asdfgyuiopqwertnmzxcvb');
map('o', 'go');
map('b', 'T');
map('O', 't');
map('H', 'S');
map('L', 'D');
// Scroll Page Down/Up
mapkey("<Ctrl-d>", "Scroll down", () => { Normal.scroll("pageDown"); });
mapkey("<Ctrl-u>", "Scroll up", () => { Normal.scroll("pageUp"); });
mapkey('<Alt-h>', 'Open history in omnibar', () => Front.openOmnibar({ type: 'History' }));
// --- Tabs ---
// Tab Delete/Undo
map('<Alt-q>', 'x');
map('<Alt-o>', 'R');
map('>', '>>');
map('<', '<<');


// Yank URL w/ one press (disables other yx binds)
map('y', 'yy');

// Change focused frame
map('gf', 'w');
imap('<Alt-,>', '<Esc>');

// ---- Unmap -----
// Proxy Stuff
unmap('spa');
unmap('spb');
unmap('spc');
unmap('spd');
unmap('sps');
unmap('cp');
unmap(';cp');
unmap(';ap');

// Emoji
iunmap(":");

// Misc
unmap(';t');
unmap('si');
unmap('ga');
unmap('gc');
unmap('gn');
unmap('gr');
unmap('ob');
unmap('og');
unmap('od');
unmap('oy');

// ---- Search Engines -----
removeSearchAlias('b', 's');
removeSearchAlias('d', 's');
removeSearchAlias('g', 's');
removeSearchAlias('h', 's');
removeSearchAlias('w', 's');
removeSearchAlias('y', 's');
removeSearchAlias('s', 's');


addSearchAlias('aur', 'aur', 'https://aur.archlinux.org/packages/?O=0&SeB=nd&K=', 's');
addSearchAlias('aw', 'arch wiki', 'https://wiki.archlinux.org/index.php?title=Special:Search&search=', 's');
addSearchAlias('dh', 'docker', 'https://hub.docker.com/search?type=image&q=', 's');
addSearchAlias('gh', 'github', 'https://github.com/search?q=', 's');
addSearchAlias('r', 'reddit', 'https://libreddit.spike.codes/r/', 's');
addSearchAlias('yt', 'youtube', 'https://www.youtube.com/results?search_query=', 's');
addSearchAlias('go', 'google', 'https://www.google.com/search?q=', 's');

settings.theme = `
.sk_theme {
    font-family: 'Fira Code', 'JetBrains Mono', monospace;
    font-size: 11pt;
    background: #212121;
    color: #cdd6f4;
}

.sk_theme *:focus {
    outline: none !important;
    box-shadow: none !important;
}

.sk_theme input {
    color: #ffffff !important;
    background: #212121 !important;
    border: 1px solid #454545 !important;
    padding: 4px 6px;
    border-radius: 4px;
}

.sk_theme .omnibar {
    background-color: #212121 !important;
    color: #ffffff !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Resultados de búsqueda */
.sk_theme #sk_omnibarSearchResult ul li {
    background: #212121 !important;
    color: #ffffff !important;
    padding: 5px;
    border: none !important;
}

/* Resultado enfocado */
.sk_theme #sk_omnibarSearchResult ul li.focused {
    background: #2F2D2B !important;
    border-left: 3px solid #89dceb;
    color: #ffffff !important;
}

/* Resultados alternos */
.sk_theme #sk_omnibarSearchResult ul li:nth-child(odd) {
    background: #2a2e3f;
}

/* Otros detalles visuales */
.sk_theme .url {
    color: #89b4fa !important;
}
.sk_theme .annotation {
    color: #74c7ec;
}
.sk_theme .omnibar_highlight {
    color: #f38ba8;
    font-weight: bold;
}
.sk_theme .omnibar_timestamp {
    color: #fab387;
}
.sk_theme .omnibar_visitcount {
    color: #a6e3a1;
}

/* Status bar y búsqueda */
#sk_status, #sk_find {
    font-size: 18pt;
    background: #1e1e2e;
    color: #cdd6f4;
    border-radius: 6px;
    padding: 4px 10px;
    border: 1px solid #585b70;
}
`
